<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User detail</title>
</head>
<body>

<div>
    <p><strong>First Name:</strong> <span th:text="${user.firstName}"></span></p>
    <p><strong>Last Name:</strong> <span th:text="${user.lastName}"></span></p>
    <p><strong>Age:</strong> <span th:text="${user.age}"></span></p>
</div>

<a th:href="@{/user/{id}/edit(id=${user.id})}">Edit User</a>

<form th:method="DELETE" th:action="@{/user/{id}(id=$(user.getId()})">
<input type="submit" value="Delete"/>
</form>

</body>
</html>